= form_for @man do |f|
  - if @man.errors.any? 
    %div{:id=>"error_explanation"}
      %h2
        = pluralize(@man.errors.count, "error")
        prohibited this man from being saved:
      %ul
      = @man.errors.full_messages.each do |msg|
        %li
          = msg

  %div.actions
    = f.label "First name"
    = f.text_field :first_name
    %br
    = f.label "Last name"
    = f.text_field :last_name
    %br
    = f.label "Birth date"
    = f.date_select :birth_date
    %br
    = f.label "Father"
    = f.select :father, [1,2,3,4,5,6,7,8,9,0,10]
    %br
    = f.submit
